apiVersion: v1
kind: Service
metadata:
  labels:
    app: demo-voting-app
    name: redis-service
  name: redis
spec:
  ports:
  - port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    app: demo-voting-app
    name: redis-pod
  type: ClusterIP
